[submodule "dependencies/cryptopp"]
	path = dependencies/cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "dependencies/libsocket"]
	path = dependencies/libsocket
	url = https://github.com/dermesser/libsocket.git
[submodule "dependencies/CTPL"]
	path = dependencies/CTPL
	url = https://github.com/vit-vit/CTPL.git
[submodule "dependencies/Simple-Web-Server"]
	path = dependencies/Simple-Web-Server
	url = https://github.com/eidheim/Simple-Web-Server.git
[submodule "dependencies/json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "dependencies/web-ui"]
	path = dependencies/web-ui
	url = https://github.com/backuperator/web-ui.git
